.container__content{

  width: 100%;
  height: 100vh;

  margin-top: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.content__cover > img{
  border:5px solid #1b1916;
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content__description{
  margin-top: 15px;
}

.content__description > p{
  margin-top: 20px;
  margin-left: 540px;
  margin-right: 540px;
  text-align: center;
  vertical-align: middle;
  font-size: medium;
  color: #2d2c2c;
}

.content__link{
  margin-top: 15px;
}