/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: #c7bfa6;
  color:#1b1916;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}
